body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(16, 24px);
    grid-template-rows: repeat(16, 24px);
}

.sizeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    min-width: 40px;
    background-color: turquoise;
    border-color: blueviolet;
    margin-right: 60px;
}

input {
    background-color: floralwhite;
}